<p>{{randombeer.[0].name}}</p>
<img src="{{randombeer.[0].image_url}}" alt="beer img"/>
<p>Description: {{randombeer.[0].description}}</p>
<p>Tagline: {{randombeer.[0].tagline}}</p>
<p>Food pairing: {{randombeer.[0].food_pairing}}</p>
<p>Brewer's tips: {{randombeer.[0].brewers_tips}}</p>



    {{!-- randombeer:  [
  {
    id: 96,
    name: 'Lumberjack Stout',
    tagline: 'Blueberry Bacon Stout.',
    first_brewed: '12/2013',
    description: 'Lumberjack Stout is an intense beast that took its inspriation from what an actual bona-fide lumberjack might have for breakfast. Flavours of molasses, chocolate, smoke, berry, coffee and more, with a low bitterness, leaning this beer firmly towards the malty side.',
    image_url: 'https://images.punkapi.com/v2/keg.png',
    abv: 15.2,
    ibu: 20,
    target_fg: 1020,
    target_og: 1110,
    ebc: 158,
    srm: 79,
    ph: 4.4,
    attenuation_level: 82,
    volume: { value: 20, unit: 'litres' },
    boil_volume: { value: 25, unit: 'litres' },
    method: {
      mash_temp: [Array],
      fermentation: [Object],
      twist: 'Blueberries, maple syrup and coffee, then aged in ex Grain whisky casks. Maple Syrup: 50g at end. Blueberries: 100g at middle.'
    },
    ingredients: {
      malt: [Array],
      hops: [Array],
      yeast: 'Wyeast 1272 - American Ale II™'
    },
    food_pairing: [
      'Maple syrup drizzled chocolate chip pancakes',
      'Fried bacon with crispy honeycomb bits',
      'Coffee cake'
    ],
    brewers_tips: 'Adding extra smoked malt will amp up the bacon character.',
    contributed_by: 'Ali Skinner <AliSkinner>'
  }
] --}}